<div class="row">
    <div class="col-4"></div>
    <div class="text-center col-4">
        <img src="../assets/tcs.png" class="w-100" alt="logo">
    </div>
    <div class="col-4"></div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="text-center">
            <h3 class="display-3">The Chip Store</h3>
            <p class="display-4">Gasta inteligente</p>
            <button class="btn btn-success mt-3" [routerLink]="['/busqueda']">Comencemos</button>
        </div>
    </div>
    <div class="col-2"></div>
</div>
